body {
  background-image: url('background.jpg'); /* Adjust path if image is in a subfolder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #8d6464, #ac7f7f) opacity(100%);
  backdrop-filter: blur(5px);
}

nav {
  background-color: #8d6464;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-form input {
  display: block;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #8d6464;
  border-radius: 8px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

#login-form button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #8d6464;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  justify-content: center;
  align-items: center;
}

#login-form button:hover {
  background-color: #cf711f;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.study-panda {
  position: fixed;
  right: 225px;
  bottom: 20px;
  width: 300px;
  height: auto;
  z-index: 100;
  pointer-events: none;
  animation: float 3s ease-in-out infinite;
}