body {
  background-image: url('background.jpg'); /* Adjust path if image is in a subfolder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #fff9ec, #ffe0b2) opacity(90%);
  backdrop-filter: blur(5px);
}

nav {
  background-color: #8d6464;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: white;
}

.back-btn {
  margin-right: 20px;
  margin-left: 0;
  text-decoration: none;
  color: #8d6464;
  background-color: #fffafa;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
}

.back-btn:hover {
  background-color: #1565c0;
}

.simulation-container {
  padding: 40px 20px;
  text-align: center;
}

.simulation-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.question-block {
  background-color: #8d6464;
  color: white;
  font-size: 20px;;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.options button {
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: #8b7a7a;
  cursor: pointer;
}

.options button:hover {
  background-color: #978080;
}

#simulation-feedback {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

#next-simulation {
  padding: 10px 24px;
  font-size: 20px;
  background-color: white;
  color: #8d6464;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
  transition: background 0.2s;
}

#next-simulation:hover {
  background-color: #a88383;
}